body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(52, 56, 56);
}

.hero-section {
  height: 100vh;
  background-image: url("images/bg2.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(5, 5, 5, 0.5);
  z-index: 1;
}

.hero-text h1 {
  font-size: 2.5em;
  z-index: 2;
}

.scroll-background {
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
  opacity: 100;
  animation: wipeDown 3s forwards;
}

@keyframes wipeDown {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-50%);
  }
  100% {
    opacity: 100;
    transform: translate(-50%, -78%) translateY(50%);
  }
}

.me-section {
  height: 100vh;
  background-color: rgb(67, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.my-picture {
  padding: 10px;
}
.my-picture img {
  position: relative;
  width: 250px;
  height: 300px;
  overflow: hidden;
}

.slide-in {
  animation: slideIn 6s ease-in-out;
}

.slide-in img {
  border-radius: 20px;
  border-style: solid;
  box-shadow: 0px 0px 20px 5px black;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    transform: translate(50%, -50%) translateY(50%);
  }
  100% {
    transform: translateX(0);
  }
}

.text {
  display: block;
  top: 20px;
  left: 50%;
  transform: translateX(0);
  color: white;
  font-size: 25px;
  width: 100%;
}
.me-section p {
  display: block;
  top: 20px;
  left: 50%;
  color: white;
  font-size: 24px;
  text-align: left;
  width: 100%;
  padding-right: 50px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(52, 56, 56);
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #422e2e;
}

.project-card:hover {
  transform: scale(1.05);
}

.container {
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.demo {
  margin: 0 auto;
  width: 70%;
  padding: 20px;
  display: flex;
}

dl.skill-set,
.skill-set dt,
.skill-set dd,
.skill-set span {
  color: #fff;
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

dl.skill-set {
  width: 100%;
}

.skill-set dt,
.skill-set dd {
  float: left;
  margin-bottom: 10px;
}

.skill-set dt {
  width: 25%;
  text-align: right;
  padding: 2px 10px 2px 0;
}

.skill-set dd {
  width: 75%;
  background-color: #4d4d4d;
}

.skill-set dd span {
  display: block;
  background-color: #75f086;
  text-align: center;
  color: #2c2c2c;
  padding: 2px 0;
}

dl.skill-set :after {
  content: " ";
  display: table;
}
